/* Page Title Styling */

.pageTitle {
    text-align: center;
    color: rgb(36, 36, 36);
}

/* About Section Styling */

.about {
    width: 50%;
    float: left;
    padding: 50px;
    margin: 0;
}

.about p {
    font-size: 1.5rem;
    color: rgba(36, 36, 36, 1);
}

/* Quick Facts Styling */

.quickFacts {
    width: 50%;
    float: right;
    padding: 50px;
}

.factsList {
    list-style: circle;
    padding: 25px 25px 25px 50px;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: left;
    color: rgba(36, 36, 36, 1);
    background-color: rgb(223, 223, 223);
}

.factsList h2 {
    text-align: center;
    font-weight: 500;
    margin-bottom: 20px;
}

/* Gallery Styling */

.gallery {
    width: 100%;
    margin: 15px;
    padding: 15px;
    display: flex;
    justify-content: center;
}

.galleryImage {
    
}