/* Page Title Styling */

.pageTitle {
    text-align: center;
    color: rgb(36, 36, 36);
}

/* Display Styling */

.container {
    margin: auto;
    padding: 0;
}

.displayLeft, .displayRight {
    width: 50%;
    height: 100%;
    float: left;
}

/* About Section Styling */

.about {
    padding: 75px;
    margin: 0;
}

.about p {
    font-size: 1.5rem;
    color: rgba(36, 36, 36, 1);
}

/* Quick Facts Styling */

.quickFacts {
    padding: 15px;
}

.factsList {
    list-style: circle;
    padding: 25px 25px 25px 50px;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: left;
    color: rgb(255, 255, 255);
    background-color: rgb(36,36,36);
}

.factsList h2 {
    text-align: center;
    font-weight: 500;
    font-style: italic;
    margin-bottom: 20px;
}

/* Gallery Styling */

.gallery {
    height: 100%;
    margin: 70px auto auto auto;
    padding: 15px;
    display: inline-block;
}
