/* Page Title Styling */

#pageTitle {
    text-align: center;
    color: white;
    background-color: rgba(36, 36, 36, 1);
    width: 100%;
    height: fit-content;
    justify-content: center;
    align-content: center;
}

/* About Section Styling */

.about {
    width: 50%;
    margin: 15px;
    padding: 15px;
    display: inline;
}

.about p {
    font-size: 1.5rem;
}

/* Quick Facts Styling */

.quickFacts {
    width: 50%;
    margin: 15px;
    padding: 15px;
    display: inline;
    background-color: rgb(213, 213, 213);
}

.factsList {
    list-style: none;
    padding: 5px;
    margin: 5px;
}

/* Gallery Styling */

.gallery {
    width: 100%;
    margin: 15px;
    padding: 15px;
    justify-content: center;
    align-content: center;
}

.galleryImage {
    width: 100%;
    margin: 15px;
    padding: 15px;
    justify-content: center;
    align-content: center;
}