.aboutP {
    font-size: 1.5rem;
    width: 1000px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.col {
    flex: 50%;
}

.column {
    display: flex;
}

#factList {
    position: relative;
    list-style-position: inside;
    font-size: 1.25rem;
    list-style-type: disc;

}

.fun {
    margin-left: auto !important;
    margin-right: auto !important;
}

#imgPlace {
    text-align: center;
}

.notable {
    text-align: center;
}

.jumboSC {
    text-align: center;
    background-color: rgb(255, 192, 33);
    padding: 1rem 0rem 1rem 0;
    font-size: 2.25rem;
    width: 100%;
    color: white;
    height: 300px;
}

.noteList {

    font-size: 1.5rem;
}

.sectTitle {
    text-align: center;
    font-size: 3rem;
}