@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300;1,400&display=swap');


.subtitle {
    text-align: center;
    font-size: 1.25rem;
    color: white;
    background-color: #353434;
    padding: .2rem 0rem .2rem 0rem;
    width: 100%;
}

.tableCont {
    background: rgb(212, 212, 212);
    height: 750px;

}