.desc {
    font-size: .75rem;
    color: rgba(36, 36, 36, 36);
    padding-top: 70px;
}

.Footer {
    justify-content: center;
    text-align: center;
    height: 7rem;
    width: 100%;
    margin: auto;

    @media (max-width: 768px) {
    }
}