.desc {
    font-size: small;
    font-weight: 100;
    color: white;
}

.link a {
    font-size: large;
    color: white;
}

.link a:hover {
    color: black;
    background-color: gold;
}

.Footer {
    padding-top: .5rem;
    padding-bottom: .5rem;
    background-color: #353434;
    justify-content: center;
    text-align: center;
    height: 6rem;
    width: 100%;
    margin: auto 0;

    @media (max-width: 768px) {
    }
}