.shapeLeft {
    background-color: white;
    width: 50%;
    height: 50px;
    border-radius: 0px 45px 0px 0px;
    position: absolute;
    bottom: 0;
}

.shapeRight {
	background-color: white;
    width: 50%;
    height: 50px;
    border-radius: 45px 0px 0px 0px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.pageTitle {
    text-align: center;
    color: rgb(36, 36, 36);
    margin: auto;
    padding: 20px;
}

.map {

    background-image: url('./images/map.png');
    background-repeat: no-repeat;
    background-position: center center;
    height: 1000px;
    width: 100%;
    background-size: cover;
    margin: 50px auto 60px auto;

    @media (max-width: 768px) {
        background-size: contain;
        min-height: max-content;
        height: 260px;

    }
}

#mapTitle {
    color: white;
    text-align: center;
    height: 60px;
    font-size: 1.25rem;
    background-color: rgba(36, 36, 36, 1);
    text-align: center;
    justify-content: center;
    padding-top: 10px;
    width: 100%;
}

.map-container {
    position: relative;
    height: 100%;

}

.oldMain-button {
    position: absolute;
    top: 35.3%;
    left: 39.5%;
    background: url('./images/oldmain.png') center no-repeat;
    background-size: 100% 100%;
    border: 2px solid #00000000;
    border-radius: 10px;
    height: 9%;
    width: 6.5%;
    transform: translate(-50%, -50%);
    transition: transform 0.3s ease, box-shadow 0.3s ease, border 0.3s ease;
}

.oldMain-button:hover {
    transform: translate(-50%, -50%) scale(1.1);
    box-shadow: 0 0 15px rgba(255, 223, 0, 0.7), inset 0 0 10px rgba(255, 223, 0, 0.7);
    border: 2px solid #ffd52b;
}



.library-button {
    position: absolute;
    top: 35.8%;
    left: 29.5%;
    background: url('./images/library.png') center no-repeat;
    background-size: 100% 100%;
    border: 2px solid #00000000;
    border-radius: 10px;
    height: 9%;
    width: 6.5%;
    transform: translate(-50%, -50%);
    transition: transform 0.3s ease, box-shadow 0.3s ease, border 0.3s ease;
}

.library-button:hover {
    transform: translate(-50%, -50%) scale(1.1);
    box-shadow: 0 0 15px rgba(255, 223, 0, 0.7), inset 0 0 10px rgba(255, 223, 0, 0.7);
    border: 2px solid #ffd52b;
}

.alex-button {
    position: absolute;
    top: 47.3%;
    left: 28%;
    background: url('./images/alex.png') center no-repeat;
    background-size: 100% 100%;
    border: 2px solid #00000000;
    border-radius: 10px;
    height: 14%;
    width: 9.5%;
    transform: translate(-50%, -50%);
    transition: transform 0.3s ease, box-shadow 0.3s ease, border 0.3s ease;
}

.alex-button:hover {
    transform: translate(-50%, -50%) scale(1.1);
    box-shadow: 0 0 15px rgba(255, 223, 0, 0.7), inset 0 0 10px rgba(255, 223, 0, 0.7);
    border: 2px solid #ffd52b;
}

.pierce-button {
    position: absolute;
    top: 26.8%;
    left: 16%;
    background: url('./images/pierce.png') center no-repeat;
    background-size: 100% 100%;
    border: 2px solid #00000000;
    border-radius: 10px;
    height: 12%;
    width: 8%;
    transform: translate(-50%, -50%);
    transition: transform 0.3s ease, box-shadow 0.3s ease, border 0.3s ease;
}

.pierce-button:hover {
    transform: translate(-50%, -50%) scale(1.1);
    box-shadow: 0 0 15px rgba(255, 223, 0, 0.7), inset 0 0 10px rgba(255, 223, 0, 0.7);
    border: 2px solid #ffd52b;
}

.memorial-button {
    position: absolute;
    top: 27%;
    left: 26.5%;
    background: url('./images/memorial.png') center no-repeat;
    background-size: 100% 100%;
    border: 2px solid #00000000;
    border-radius: 10px;
    height: 10%;
    width: 8%;
    transform: translate(-50%, -50%);
    transition: transform 0.3s ease, box-shadow 0.3s ease, border 0.3s ease;
}

.memorial-button:hover {
    transform: translate(-50%, -50%) scale(1.1);
    box-shadow: 0 0 15px rgba(255, 223, 0, 0.7), inset 0 0 10px rgba(255, 223, 0, 0.7);
    border: 2px solid #ffd52b;
}

.clarke-button {
    position: absolute;
    top: 39.3%;
    left: 17.8%;
    background: url('./images/clarke.png') center no-repeat;
    background-size: 100% 100%;
    border: 2px solid #00000000;
    border-radius: 10px;
    height: 10.5%;
    width: 7.5%;
    transform: translate(-50%, -50%);
    transition: transform 0.3s ease, box-shadow 0.3s ease, border 0.3s ease;
}

.clarke-button:hover {
    transform: translate(-50%, -50%) scale(1.1);
    box-shadow: 0 0 15px rgba(255, 223, 0, 0.7), inset 0 0 10px rgba(255, 223, 0, 0.7);
    border: 2px solid #ffd52b;
}

.mckee-button {
    position: absolute;
    top: 26%;
    left: 35.8%;
    background: url('./images/mkcee.png') center no-repeat;
    background-size: 100% 100%;
    border: 2px solid #00000000;
    border-radius: 10px;
    height: 9%;
    width: 7.5%;
    transform: translate(-50%, -50%);
    transition: transform 0.3s ease, box-shadow 0.3s ease, border 0.3s ease;
}

.mckee-button:hover {
    transform: translate(-50%, -50%) scale(1.1);
    box-shadow: 0 0 15px rgba(255, 223, 0, 0.7), inset 0 0 10px rgba(255, 223, 0, 0.7);
    border: 2px solid #ffd52b;
}

.apartments-button {
    position: absolute;
    top: 84%;
    left: 35.5%;
    background: url('./images/apartments.png') center no-repeat;
    background-size: 100% 100%;
    border: 2px solid #00000000;
    border-radius: 10px;
    height: 23%;
    width: 16%;
    transform: translate(-50%, -50%);
    transition: transform 0.3s ease, box-shadow 0.3s ease, border 0.3s ease;
}

.apartments-button:hover {
    transform: translate(-50%, -50%) scale(1.1);
    box-shadow: 0 0 15px rgba(255, 223, 0, 0.7), inset 0 0 10px rgba(255, 223, 0, 0.7);
    border: 2px solid #ffd52b;
}

.wood-button {
    position: absolute;
    top: 42.8%;
    left: 46%;
    background: url('./images/northwood.png') center no-repeat;
    background-size: 100% 100%;
    border: 2px solid #00000000;
    border-radius: 10px;
    height: 10%;
    width: 5.5%;
    transform: translate(-50%, -50%);
    transition: transform 0.3s ease, box-shadow 0.3s ease, border 0.3s ease;
}

.wood-button:hover {
    transform: translate(-50%, -50%) scale(1.1);
    box-shadow: 0 0 15px rgba(255, 223, 0, 0.7), inset 0 0 10px rgba(255, 223, 0, 0.7);
    border: 2px solid #ffd52b;
}

.sande-button {
    position: absolute;
    top: 34.8%;
    left: 46.7%;
    background: url('./images/sande.png') center no-repeat;
    background-size: 100% 100%;
    border: 2px solid #00000000;
    border-radius: 10px;
    height: 12%;
    width: 8.5%;
    transform: translate(-50%, -50%);
    transition: transform 0.3s ease, box-shadow 0.3s ease, border 0.3s ease;
}

.sande-button:hover {
    transform: translate(-50%, -50%) scale(1.1);
    box-shadow: 0 0 15px rgba(255, 223, 0, 0.7), inset 0 0 10px rgba(255, 223, 0, 0.7);
    border: 2px solid #ffd52b;
}

.studentcenter-button {
    position: absolute;
    top: 28.5%;
    left: 44.5%;
    background: url('./images/sc1.png') center no-repeat;
    background-size: 100% 100%;
    border: 2px solid #00000000;
    border-radius: 10px;
    height: 12.8%;
    width: 7%;
    transform: translate(-50%, -50%);
    transition: transform 0.3s ease, box-shadow 0.3s ease, border 0.3s ease;
}

.studentcenter-button:hover {
    transform: translate(-50%, -50%) scale(1.1);
    box-shadow: 0 0 15px rgba(255, 223, 0, 0.7), inset 0 0 10px rgba(255, 223, 0, 0.7);
    border: 2px solid #ffd52b;
}

.methany-button {
    position: absolute;
    top: 43.8%;
    left: 62%;
    background: url('./images/metheny.png') center no-repeat;
    background-size: 100% 100%;
    border: 2px solid #00000000;
    border-radius: 10px;
    height: 12.8%;
    width: 11%;
    transform: translate(-50%, -50%);
    transition: transform 0.3s ease, box-shadow 0.3s ease, border 0.3s ease;
}

.methany-button:hover {
    transform: translate(-50%, -50%) scale(1.1);
    box-shadow: 0 0 15px rgba(255, 223, 0, 0.7), inset 0 0 10px rgba(255, 223, 0, 0.7);
    border: 2px solid #ffd52b;
}

.softball-button {
    position: absolute;
    top: 59%;
    left: 74.15%;
    background: url('./images/softball.png') center no-repeat;
    background-size: 100% 100%;
    border: 2px solid #00000000;
    border-radius: 10px;
    height: 17%;
    width: 10%;
    transform: translate(-50%, -50%);
    transition: transform 0.3s ease, box-shadow 0.3s ease, border 0.3s ease;
}

.softball-button:hover {
    transform: translate(-50%, -50%) scale(1.1);
    box-shadow: 0 0 15px rgba(255, 223, 0, 0.7), inset 0 0 10px rgba(255, 223, 0, 0.7);
    border: 2px solid #ffd52b;
}

.track-button {
    position: absolute;
    top: 63.2%;
    left: 87%;
    background: url('./images/track.png') center no-repeat;
    background-size: 100% 100%;
    border: 2px solid #00000000;
    border-radius: 10px;
    height: 16%;
    width: 15%;
    transform: translate(-50%, -50%);
    transition: transform 0.3s ease, box-shadow 0.3s ease, border 0.3s ease;
}

.track-button:hover {
    transform: translate(-50%, -50%) scale(1.1);
    box-shadow: 0 0 15px rgba(255, 223, 0, 0.7), inset 0 0 10px rgba(255, 223, 0, 0.7);
    border: 2px solid #ffd52b;
}

.football-button {
    position: absolute;
    top: 53%;
    left: 62%;
    background: url('./images/reeves.png') center no-repeat;
    background-size: 100% 100%;
    border: 2px solid #00000000;
    border-radius: 10px;
    height: 16%;
    width: 14.2%;
    transform: translate(-50%, -50%);
    transition: transform 0.3s ease, box-shadow 0.3s ease, border 0.3s ease;
}

.football-button:hover {
    transform: translate(-50%, -50%) scale(1.1);
    box-shadow: 0 0 15px rgba(255, 223, 0, 0.7), inset 0 0 10px rgba(255, 223, 0, 0.7);
    border: 2px solid #ffd52b;
}

.baseball-button {
    position: absolute;
    top: 70%;
    left: 11%;
    background: url('./images/basebal.png') center no-repeat;
    background-size: 100% 100%;
    border: 2px solid #00000000;
    border-radius: 10px;
    height: 44%;
    width: 29%;
    transform: translate(-50%, -50%);
    transition: transform 0.3s ease, box-shadow 0.3s ease, border 0.3s ease;
}

.baseball-button:hover {
    transform: translate(-50%, -50%) scale(1.1);
    box-shadow: 0 0 15px rgba(255, 223, 0, 0.7), inset 0 0 10px rgba(255, 223, 0, 0.7);
    border: 2px solid #ffd52b;
}

.rapp-button {
    position: absolute;
    top: 36.8%;
    left: 55%;
    background: url('./images/rapp.png') center no-repeat;
    background-size: 100% 100%;
    border: 2px solid #00000000;
    border-radius: 10px;
    height: 6.5%;
    width: 4%;
    transform: translate(-50%, -50%);
    transition: transform 0.3s ease, box-shadow 0.3s ease, border 0.3s ease;
}

.rapp-button:hover {
    transform: translate(-50%, -50%) scale(1.1);
    box-shadow: 0 0 15px rgba(255, 223, 0, 0.7), inset 0 0 10px rgba(255, 223, 0, 0.7);
    border: 2px solid #ffd52b;
}

.music-button {
    position: absolute;
    top: 28.8%;
    left: 41%;
    background: url('./images/johnston.png') center no-repeat;
    background-size: 100% 100%;
    border: 2px solid #00000000;
    border-radius: 10px;
    height: 6.5%;
    width: 5%;
    transform: translate(-50%, -50%);
    transition: transform 0.3s ease, box-shadow 0.3s ease, border 0.3s ease;
}

.music-button:hover {
    transform: translate(-50%, -50%) scale(1.1);
    box-shadow: 0 0 15px rgba(255, 223, 0, 0.7), inset 0 0 10px rgba(255, 223, 0, 0.7);
    border: 2px solid #ffd52b;
}

@media screen and (max-width: 768px) {}