/* .jumbo {
    text-align: center;
    background-color: rgb(255, 192, 33);
    padding: 1rem 0rem 1rem 0;
    font-size: 2.25rem;
    width: 100%;
    color: white;
    height: 300px;
} */
 .jumbo{
    @media (max-width: 768px) {
        height: 150px;

    }
}



.map {

    background-image: url('./images/map.png');
    background-repeat: no-repeat;
    background-position: center center;
    height: 750px;
    width: 100%;
    background-size: cover;

    @media (max-width: 768px) {
        background-size: contain;
        min-height: max-content;
        height: 260px;

    }
}

.subtitle {
    color: white;
    text-align: center;
    font-size: 1.25rem;
    background-color: #353434;
    padding: .2rem 0rem .2rem 0rem;
    width: 100%;
}

.map-container {
    position: relative;
    height: 100%;

}

.oldMain-button {
    position: absolute;
    top: 30%;
    left: 40%;
    background:url('https://i.imgur.com/0paxGZQ.png') center no-repeat; background-size: 100% 100%;
    border: none;
    height: 5.5%;
    width: 2.3%;
    transform: translate(-50%, -50%);
}

.library-button {
    position: absolute;
    top: 31%;
    left: 30%;
    background:url('https://i.imgur.com/0paxGZQ.png') center no-repeat; background-size: 100% 100%;
    border: none;
    height: 5.5%;
    width: 2.3%;
    transform: translate(-50%, -50%);
}

.alex-button {
    position: absolute;
    top: 43%;
    left: 28%;
    background:url('https://i.imgur.com/0paxGZQ.png') center no-repeat; background-size: 100% 100%;
    border: none;
    height: 5.5%;
    width: 2.3%;
    transform: translate(-50%, -50%);
}

.pierce-button {
    position: absolute;
    top: 22%;
    left: 16%;
    background:url('https://i.imgur.com/0paxGZQ.png') center no-repeat; background-size: 100% 100%;
    border: none;
    height: 5.5%;
    width: 2.3%;
    transform: translate(-50%, -50%);
}

.memorial-button {
    position: absolute;
    top: 22%;
    left: 27%;
    background:url('https://i.imgur.com/0paxGZQ.png') center no-repeat; background-size: 100% 100%;
    border: none;
    height: 5.5%;
    width: 2.3%;
    transform: translate(-50%, -50%);
}

.clarke-button {
    position: absolute;
    top: 35%;
    left: 17%;
    background:url('https://i.imgur.com/0paxGZQ.png') center no-repeat; background-size: 100% 100%;
    border: none;
    height: 5.5%;
    width: 2.3%;
    transform: translate(-50%, -50%);
}

.mckee-button {
    position: absolute;
    top: 21%;
    left: 36%;
    background:url('https://i.imgur.com/0paxGZQ.png') center no-repeat; background-size: 100% 100%;
    border: none;
    height: 5.5%;
    width: 2.3%;
    transform: translate(-50%, -50%);
}

.apartments-button {
    position: absolute;
    top: 83%;
    left: 36%;
    background:url('https://i.imgur.com/0paxGZQ.png') center no-repeat; background-size: 100% 100%;
    border: none;
    height: 5.5%;
    width: 2.3%;
    transform: translate(-50%, -50%);
}

.wood-button {
    position: absolute;
    top: 38%;
    left: 45%;
    background:url('https://i.imgur.com/0paxGZQ.png') center no-repeat; background-size: 100% 100%;
    border: none;
    height: 5.5%;
    width: 2.3%;
    transform: translate(-50%, -50%);
}

.sande-button {
    position: absolute;
    top: 31%;
    left: 46%;
    background:url('https://i.imgur.com/0paxGZQ.png') center no-repeat; background-size: 100% 100%;
    border: none;
    height: 5.5%;
    width: 2.3%;
    transform: translate(-50%, -50%);
}

.studentcenter-button {
    position: absolute;
    top: 23%;
    left: 45%;
    background:url('https://i.imgur.com/0paxGZQ.png') center no-repeat; background-size: 100% 100%;
    border: none;
    height: 5.5%;
    width: 2.3%;
    transform: translate(-50%, -50%);
}

.methany-button {
    position: absolute;
    top: 39%;
    left: 61%;
    background:url('https://i.imgur.com/0paxGZQ.png') center no-repeat; background-size: 100% 100%;
    border: none;
    height: 5.5%;
    width: 2.3%;
    transform: translate(-50%, -50%);
}

.softball-button {
    position: absolute;
    top: 58%;
    left: 73%;
    background:url('https://i.imgur.com/0paxGZQ.png') center no-repeat; background-size: 100% 100%;
    border: none;
    height: 5.5%;
    width: 2.3%;
    transform: translate(-50%, -50%);
}

.track-button {
    position: absolute;
    top: 60%;
    left: 87%;
    background:url('https://i.imgur.com/0paxGZQ.png') center no-repeat; background-size: 100% 100%;
    border: none;
    height: 5.5%;
    width: 2.3%;
    transform: translate(-50%, -50%);
}

.football-button {
    position: absolute;
    top: 49%;
    left: 62%;
    background:url('https://i.imgur.com/0paxGZQ.png') center no-repeat; background-size: 100% 100%;
    border: none;
    height: 5.5%;
    width: 2.3%;
    transform: translate(-50%, -50%);
}

.baseball-button {
    position: absolute;
    top: 65%;
    left: 13%;
    background:url('https://i.imgur.com/0paxGZQ.png') center no-repeat; background-size: 100% 100%;
    border: none;
    height: 5.5%;
    width: 2.3%;
    transform: translate(-50%, -50%);
}

.rapp-button {
    position: absolute;
    top: 32%;
    left: 55%;
    background:url('https://i.imgur.com/0paxGZQ.png') center no-repeat; background-size: 100% 100%;
    border: none;
    height: 5.5%;
    width: 2.3%;
    transform: translate(-50%, -50%);
}

.other-button {
    position: absolute;
    top: 45%;
    left: 35%;
    background:url('https://i.imgur.com/0paxGZQ.png') center no-repeat; background-size: 100% 100%;
    border: none;
    height: 5.5%;
    width: 2.3%;
    transform: translate(-50%, -50%);
}

.music-button {
    position: absolute;
    top: 23%;
    left: 40%;
    background:url('https://i.imgur.com/0paxGZQ.png') center no-repeat; background-size: 100% 100%;
    border: none;
    height: 5.5%;
    width: 2.3%;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 768px) {

}