.jumboLibrary {
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    padding: 10rem;
    background-image: -webkit-linear-gradient(0deg, rgba(36,36,36, 0), rgba(36,36,36, 0) 50%, rgba(36,36,36, 1) 100%), url(images/bld-library-1-2039015041.jpg);
    background-image:  -moz-linear-gradient(0deg, rgba(36,36,36, 0), rgba(36,36,36, 0) 50%, rgba(36,36,36, 1) 100%), url(images/bld-library-1-2039015041.jpg);
    background-image:  -o-linear-gradient(0deg, rgba(36,36,36, 0), rgba(36,36,36, 0) 50%, rgba(36,36,36, 1) 100%), url(images/bld-library-1-2039015041.jpg);
    background-image:  -ms-linear-gradient(0deg, rgba(36,36,36, 0), rgba(36,36,36, 0) 50%, rgba(36,36,36, 1) 100%), url(images/bld-library-1-2039015041.jpg);
    background-image:  linear-gradient(0deg, rgba(36,36,36, 0), rgba(36,36,36, 0) 50%, rgba(36,36,36, 1) 100%), url(images/bld-library-1-2039015041.jpg);
    background-size: 80%;
    background-position: center;
    width: 100%;
    color: rgb(255, 255, 255);
    height: 400px;
}