.jumboLibrary {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    background-image: -webkit-linear-gradient(0deg, rgba(36,36,36, 0), rgba(36,36,36, 0) 50%, rgba(36,36,36, 1) 100%), url(images/bld-library-1-2039015041.jpg);
    background-image:  -moz-linear-gradient(0deg, rgba(36,36,36, 0), rgba(36,36,36, 0) 50%, rgba(36,36,36, 1) 100%), url(images/bld-library-1-2039015041.jpg);
    background-image:  -o-linear-gradient(0deg, rgba(36,36,36, 0), rgba(36,36,36, 0) 50%, rgba(36,36,36, 1) 100%), url(images/bld-library-1-2039015041.jpg);
    background-image:  -ms-linear-gradient(0deg, rgba(36,36,36, 0), rgba(36,36,36, 0) 50%, rgba(36,36,36, 1) 100%), url(images/bld-library-1-2039015041.jpg);
    background-image:  linear-gradient(0deg, rgba(36,36,36, 0), rgba(36,36,36, 0) 50%, rgba(36,36,36, 1) 100%), url(images/bld-library-1-2039015041.jpg);
    background-color: black;
    background-size: 80%;
    background-position: center;
    width: 100%;
    color: rgb(255, 255, 255);
    height: 600px;
    display: flex;
    align-items: flex-end;
}

.shapeLeft {
	background-color: white;
    width:50%;
    padding: 0;
    margin: 0;
    float: left;
    height: 100px;
    border-radius: 0px 75px 0px 0px;
}

.shapeRight {
	background-color: white;
    width:50%;
    float: right;
    height: 100px;
    border-radius: 75px 0px 0px 0px;
}