form {
    width: 80%;
    max-width: 500px;
    margin: 0 auto;

}

.makeBut {
    margin-top: 50px;
    margin-bottom: 50px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}



#stud {
    margin-top: 25px;
    margin-bottom: 25px;
}

#tour {
    margin-top: 25px;
    margin-bottom: 25px;
}