.centered { 
  text-align: center;
  background-image: url(https://images.fineartamerica.com/images/artworkimages/mediumlarge/3/geneva-college-old-main-university-icons.jpg);
  padding: 1rem 0rem 1rem 0;
  font-size: 2.25rem;
  width: 100%;
  color: white;
  }

 .firstpart {
    text-align: center;
    background-color: rgb(255, 255, 255);
    padding: 1rem 0rem 1rem 0;
    font-size: 1.50rem;
    width: 100%;
    color: rgb(0, 0, 0);
 }

.secondpart {
  text-align: center;
  background-color: rgb(255, 192, 33);
  padding: 1rem 0rem 1rem 0;
  font-size: 1.50rem;
  width: 100%;
  color: white;
}

.button{
  text-align: right;
}

