.buttons {
    float: left;

}

.title {
    text-align: center;
}

.description {
    text-align: right;
}

.user {
    text-align: center;
}

.column {
    flex: 33.33%;
    padding: 10px;
    margin: 5px;

}

.container {
    display: flex;
}



.profileImage {
    text-align: center;
}

.profileImage img {
    height: 150px;
    padding-top: 10px;
}