input {
    margin: 20px 0 20px 0;
}

#regForm {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    margin-bottom: 300px;
}

#regTitle {
    margin-top: 50px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}