#example {
    border: 1px;
    border-color: black;
}

.make-button {
    margin-left: auto;
    margin-right: auto;
}

.reviewFeed {

    margin-left: auto;
    margin-right: auto;
    text-align: center;
}