.shapeLeft {
    background-color: white;
    width: 50%;
    height: 50px;
    border-radius: 0px 45px 0px 0px;
    position: absolute;
    bottom: 0;
}

.shapeRight {
	background-color: white;
    width: 50%;
    height: 50px;
    border-radius: 45px 0px 0px 0px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.pageTitle {
    text-align: center;
    color: rgb(36, 36, 36);
    margin: auto;
    padding: 20px;
}

.uploadFields {
    background-color: #ffffff;
}